body {
  margin: 0px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
}

.dis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.immagine {
  width: 75px;
  margin-bottom: 10px;
}

.pa {
  padding-right: 20px;
}

h2 {
  color: white;
}

h2:hover {
  color: coral;
}

.flex {
  display: flex;
}
